body{
    background: #c5c5c5;
    font-family: Arial, sans-serif;
    margin: 0px;
    padding: 0;
}

header{
    background-color: #333;
    color: #fff;
    padding: 20px;
}

h1{
    display: block;
}

.insetos{
    width: 20%;
}

.caixa{
    display: block;
    position: relative;
    top: 10px;
    left: 10;
}