body{
    background: #c5c5c5;
    font-family: Arial, sans-serif;
    margin: 0px;
    padding: 0;
}

header{

    background: #333;
    padding: 0px 20;
}

nav li{
    display: inline;
    margin: 0 0 0 250px;
}

nav{

    position: absolute;
    top: 110px;
    right: 0px;
}

.caixa{

    position: relative;
    width: 940px;
    margin: 0 auto;
}